:root{
    --cor0: #f0edf7;
    --cor1: #7454BF;
    --cor2: #5B33B1;
    --cor3: #320C83;
    --cor4: #250766;

    --font: Arial, Helvetica, sans-serif
}

body{
    font-family: var(--font);
    color: var(--cor0);
    background-color: var(--cor1);
}

main{
    min-width: 400pz;
    max-width: 1100px;
    background-color: var(--cor0);
    border-radius: 2px;
    margin: auto;
    padding: 15px;
}

*{
    line-height: 1.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding: 0;
    margin: 0;
}

header{
    background-color: var(--cor3);
    color: var(--cor0);
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 15px;
}

nav a{
    color: var(--cor0);
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

nav a:hover{
    background-color: var(--cor1);
}

article p{
    text-align: left;
    color: #09011b;
    text-shadow: none;
}

article h1{
    text-align: center;
    color: var(--cor3);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 20px;
    margin: 0px;
    font-size: 30px;
}

article h2{
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 7px;
    margin: 0px;
    background-color: var(--cor1);
    border-radius: 7px;
    background-image:  linear-gradient(to left, var(--cor0), transparent);
}

article a{
    color: #250766;
    text-shadow: none; 
    font-weight: bold;
    text-decoration: none;
}

article b{
    color: #250766;
    text-shadow: none;
    font-weight: bold;
    text-decoration: none;
}

.boxvideo{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--cor2);
    margin: 0px;
    position: relative;
    height: 450px;
}

img{
    width: 100%;
}

.boxvideo iframe{
    width: 90%;
    height: 100%;
}

aside h3{
    color: #4CC3CC;
    background-color: var(--cor2);
    border-radius: 5px 5px 0px 0px;
    padding: 7px;
    text-align: left;
    margin: -10px -10px 20px -10px;
}

aside{
    background-color: #ad95e6;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.400);	
    padding: 10px;	
    margin-top: 20px;
    border-radius: 0px 0px 5px 5px;
}

.rodape{
    padding: 15px;
    background-color: var(--cor4);
    text-align: center;
}

.rodape a, p{
    text-decoration: none;
    text-shadow: none;
    color: #4CC3CC;
}

.rodape a{
    font-weight: bold;
}

.infrodape{
    padding: 15px;
    background-color: var(--cor3);
    text-align: left;
}

.infrodape a i{
    padding: 10px;
    color: #4CC3CC;
}

.pequena{
    display: block;
    width: 200px;
    margin: auto;
}

ul{
    columns: 2;
    text-align: left;
    padding: 30px;
}

li, abbr{
    text-shadow: none;
    color: #09011b;
    text-decoration: none;
    list-style-type: '\2714\00a0\00a0';
}